JWT_SECRET=change_me
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/bea"
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=bea
PORT=7004
FRONTEND_URL=http://localhost:2004

EMAIL_USER=
EMAIL_PASS=

WAAFI_MERCHANT_UID=
WAAFI_API_USER_ID=
WAAFI_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=
AWS_S3_UPLOAD_PREFIX=bea_uploads
